<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calendar</title>
</head>
<body>
    <h1>{{year}}/{{month}}</h1>
    <table border="1">
        <tr>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
        </tr>
        {% for week in calendar_month %}
            <tr>
                {% for day in week %}
                    <td>
                        {% if day == 0 %}
                            &nbsp;
                        {% else %}
                            {{day}}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</body>
</html>